.crypto__container {
  display: flex;
  position: relative;
  top: 30px;
  flex-direction: column;
  justify-content: center;
  height: 420px;
  width: 100%;

  &--news {
    color: whitesmoke;
    font-family: "Gobold";
    font-size: 0.7em;
    margin: 30px 0px 0 0;
    text-decoration: none;
    text-align: center;
    margin-left: 220px;
    transition: 0.5s ease-in-out;

    &:hover {
      color: lightgrey;
    }
  }
}

.crypto__header {
  position: absolute;
  top: 35px;
  left: 45px;
}
