.App {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #0a0a24;
}

body {
  overflow: hidden;
  background-color: whitesmoke;
}
