.crypto__container--currency {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-third {
    display: flex;
    width: 224px;
    justify-content: flex-end;
  }

  &-input {
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #da0000;
    color: whitesmoke;
    font-family: "Gobold";
    font-size: 0.9em;
  }

  &-button {
    background-color: transparent;
    font-family: "Gobold";
    color: whitesmoke;
    border: none;
    margin: 15px 0 0 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: lightgrey;
    }
  }

  &-notifDiv {
    width: 265px;
    margin: 4px;
  }

  &-notifications {
    font-family: arial;
    color: whitesmoke;
    font-size: 0.6em;
    width: 120px;
  }

  select {
    width: 100px;
    text-align: center;
    height: 20px;
    font-family: "Gobold";
    background-color: transparent;
    color: whitesmoke;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    cursor: pointer;
  }

  select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}

.crypto__container--results-loading {
  height: 40px;
}
