.crypto__container--currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-first {
    display: flex;
  }

  &-second {
    display: flex;
  }

  &-input {
    height: 30px;
    width: 200px;
  }
}
