.crypto__container--results {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 278px;
  background-color: #da0000;
  color: whitesmoke;
  margin: 20px auto;
}
