.articles__config {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid whitesmoke;
  margin: 10px;
  width: 80%;
  &-title {
    color: whitesmoke;
    font-family: "Gobold";
    margin: 20px;
  }
  &-img {
    height: 150px;
    margin: 20px;
  }
}
