.articles__config {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid whitesmoke;
  margin: 10px;
  width: 80%;
  cursor: pointer;
  &-title {
    color: whitesmoke;
    font-family: "Gobold";
    margin: 20px;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      text-decoration: underline;
      color: rgb(189, 187, 187);
    }
  }
  &-img {
    height: 150px;
    margin: 20px;
  }
}
